<!doctype html>
<html lang="en" class="no-js">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="/css/reset.css"> <!-- CSS reset -->
  <link rel="stylesheet" href="/css/style.css"> <!-- Resource style -->
  <script src="/js/modernizr.js"></script> <!-- Modernizr -->

  <title>Contracts Directory</title>
</head>
<body>
<header class="cd-header">
  <h1>Contracts Directory</h1>
</header>

<main class="cd-main-content">
  <div class="cd-tab-filter-wrapper">
    <div class="cd-tab-filter">
      <ul class="cd-filters">
        <li class="placeholder">
          <a data-type="all" href="#0">All</a> <!-- selected option on mobile -->
        </li>
        <li class="filter"><a class="selected" href="#0" data-type="all">All</a></li>
        <li class="filter" data-filter=".seo"><a href="#0" data-type="seo">Most used</a></li>
        <li class="filter" data-filter=".seo"><a href="#0" data-type="seo">No consumers</a></li>
      </ul> <!-- cd-filters -->
    </div> <!-- cd-tab-filter -->
  </div> <!-- cd-tab-filter-wrapper -->

  <section class="cd-gallery">
    <ul>
      {{#each contracts }}
        <li class="mix project-{{this.projectRevision.info.name.machine}} tribe-{{this.projectRevision.info.meta.tribe.machine}} pod-{{this.projectRevision.info.meta.pod.machine}} it-{{this.contract.integrationType}}" data-keywords="{{this.contract.keywords}}" onclick="window.location='{{this.contract.detailsLink}}';">
          <div class="header">
            <h3>{{this.projectRevision.info.name.display}}</h3>

            <p class="project-description" title="{{this.projectRevision.info.meta.description}}">
              {{this.projectRevision.info.meta.descriptionTruncated}}
            </p>

            <div class="ribbon"><span>{{this.contract.displayIntegrationType}}</span></div>
          </div>
          <div class="body">
            <p class="integration-type-description">
              {{this.contract.meta.description}}
            </p>

            <ul class="tags">
              <!-- <li><a href="#" title="Integration Pattern">{{this.contract.displayIntegrationType}}</a></li> -->
              <li><a href="#" title="Owner tribe">{{this.projectRevision.info.meta.tribe.display}}</a></li>
              <li><a href="#" title="Owner POD">{{this.projectRevision.info.meta.pod.display}}</a></li>
            </ul>
            <div style="clear: both;"></div>
          </div>
        </li>
      {{/each}}

      <li class="gap"></li>
      <li class="gap"></li>
      <li class="gap"></li>
    </ul>
    <div class="cd-fail-message">No results found</div>
  </section> <!-- cd-gallery -->

  <div class="cd-filter">
    <form>
      <div class="cd-filter-block">
        <h4>Search</h4>

        <div class="cd-filter-content">
          <input type="search" placeholder="Any keyword...">
        </div> <!-- cd-filter-content -->
      </div> <!-- cd-filter-block -->

      <div class="cd-filter-block">
        <h4>Integration type</h4>

        <ul class="cd-filter-content cd-filters list">
          <li>
            <input class="filter" data-filter=".it-rest" type="checkbox" id="rest-checkbox">
            <label class="checkbox-label" for="rest-checkbox">RESTful APIs</label>
          </li>
          <!--
                      <li>
                        <input class="filter" data-filter=".grpc" type="checkbox" id="grpc-checkbox">
                        <label class="checkbox-label" for="grpc-checkbox">gRPC</label>
                      </li>

                      <li>
                        <input class="filter" data-filter=".shared-fs" type="checkbox" id="sharedfs-checkbox">
                        <label class="checkbox-label" for="sharedfs-checkbox2">Shared FS - GCS</label>
                      </li>

                      <li>
                        <input class="filter" data-filter=".database" type="checkbox" id="database-checkbox">
                        <label class="checkbox-label" for="database-checkbox">Database</label>
                      </li>

                      <li>
                        <input class="filter" data-filter=".cookies" type="checkbox" id="cookies-checkbox">
                        <label class="checkbox-label" for="cookies-checkbox">Cookies</label>
                      </li> -->

          <li>
            <input class="filter" data-filter=".it-localstorage" type="checkbox" id="localstorage-checkbox">
            <label class="checkbox-label" for="localstorage-checkbox">Localstorage</label>
          </li>

          <li>
            <input class="filter" data-filter=".it-schema" type="checkbox" id="schema-checkbox">
            <label class="checkbox-label" for="schema-checkbox">Schema</label>
          </li>

          <!-- <li>
            <input class="filter" data-filter=".frontend-global-object" type="checkbox" id="checkbox2">
            <label class="checkbox-label" for="checkbox2">Frontend - Global Object</label>
          </li> -->

        </ul> <!-- cd-filter-content -->
      </div> <!-- cd-filter-block -->

      <div class="cd-filter-block">
        <h4>Project</h4>

        <div class="cd-filter-content">
          <div class="cd-select cd-filters">
            <select class="filter" name="selectThis" id="selectThis">
              <option value="">All</option>
              {{#each projects}}
              <option value=".project-{{this.machine}}">{{this.display}}</option>
              {{/each}}
            </select>
          </div> <!-- cd-select -->
        </div> <!-- cd-filter-content -->
      </div> <!-- cd-filter-block -->
      <div class="cd-filter-block">
        <h4>Tribe</h4>

        <div class="cd-filter-content">
          <div class="cd-select cd-filters">
            <select class="filter" name="selectThis" id="selectThis">
              <option value="">All</option>
              {{#each tribes}}
                <option value=".tribe-{{this.machine}}">{{this.display}}</option>
              {{/each}}
            </select>
          </div> <!-- cd-select -->
        </div> <!-- cd-filter-content -->
      </div> <!-- cd-filter-block -->

      <div class="cd-filter-block">
        <h4>POD</h4>

        <div class="cd-filter-content">
          <div class="cd-select cd-filters">
            <select class="filter" name="selectThis" id="selectThis">
              <option value="">All</option>
              {{#each pods}}
                <option value=".pod-{{this.machine}}">{{this.display}}</option>
              {{/each}}
            </select>
          </div> <!-- cd-select -->
        </div> <!-- cd-filter-content -->
      </div> <!-- cd-filter-block -->
    </form>

    <a href="#0" class="cd-close">Close</a>
  </div> <!-- cd-filter -->

  <a href="#0" class="cd-filter-trigger">Filters</a>
</main> <!-- cd-main-content -->
<script src="/js/jquery-2.1.1.js"></script>
<script src="/js/jquery.mixitup.min.js"></script>
<script src="/js/main.js"></script> <!-- Resource jQuery -->
</body>
</html>
